h1 {
  background-color: blue;
}

#meme-image-container {
  border: 1px solid black;
  width: 500px;
  height: 500px;
}

#meme-text {
  position: absolute;
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  color: white;
}

#meme-image {
  width: 500px;
  height: 500px;
}
